<form class="ratingsFavorieten" action="/score/<%- huis.id %>" method="POST">
  <input type="hidden" name="id" value="<%- huis.id %>" />
  <fieldset class="fieldsetRatingCard">
    <input class="inputRating" id="algemeen1" name="algemeenNumber" type="radio" value="1">
    <label class="labelRating" aria-label="1 ster" for="algemeen1"></label>

    <input class="inputRating" id="algemeen2" name="algemeenNumber" type="radio" value="2">
    <label class="labelRating" aria-label="2 sterren" for="algemeen2"></label>

    <input class="inputRating" id="algemeen3" name="algemeenNumber" type="radio" value="3">
    <label class="labelRating" aria-label="3 sterren" for="algemeen3"></label>

    <input class="inputRating" id="algemeen4" name="algemeenNumber" type="radio" value="4">
    <label class="labelRating" aria-label="4 sterren" for="algemeen4"></label>

    <input class="inputRating" id="algemeen5" name="algemeenNumber" type="radio" value="5">
    <label class="labelRating" aria-label="5 sterren" for="algemeen5"></label>
  </fieldset>
  <input type="submit" value="Rate" />
</form>
