<ul class="show_notes">
    <% if (feedback.length > 0) { %>
        <li>House ID: <%= feedback[feedback.length - 1].house %></li>
        <% if (feedback[feedback.length - 1].note) { %>
            <li>Note: <%=(feedback[feedback.length - 1].note) %></li>
        <% }


        else { %>
            <p>No note for this house.</p>
        <% } %>
    <% }

    else { %>
        <p>No feedback available.</p>
    <% } %>
</ul>

