<ul class="output_other_users">
    <li>uw score</li>
    <% if (feedback.length > 0) { %>
        <% if (feedback[feedback.length - 1].rating) { %>
            <li>Kitchen : <%= feedback[feedback.length - 1].rating.kitchen %></li>
            <li>general : <%= feedback[feedback.length - 1].rating.general %></li>
            <li>badkamer: <%= feedback[feedback.length - 1].rating.bathroom %></li>
            <li>tuin: <%= feedback[feedback.length - 1].rating.garden %></li>
        <% } else { %>
            <p class="successtate">er is geens core ingevoerd</p>
        <% } %>
    <% } else { %>
        <p>No feedback available.</p>
    <% } %>
</ul>



<!--todo uitzoeken hoe je hier de socre kan weergeven-->